[tool.black]
line-length = 119

[tool.coverage.run]
branch = true

[tool.poetry]
name = "promisegraph"
version = "0.0.2"
description = """\
TODO Oleksandr\
"""
authors = ["Oleksandr Tereshchenko <toporok@gmail.com>"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
pydantic = ">=2.0.0,<3.0.0"

[tool.poetry.dev-dependencies]
anthropic = "*"
black = "*"
ipython = "*"
jupyterlab = "*"
notebook = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
python-dotenv = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
